@import '../../../../styles/mixing';


mat-grid-tile{
    color : white;
    @include transition(all 0.2s ease-in);
    
    &.selected{
        .mat-figure{
            font-size: 2em !important;
        }
    }

    &.default{
        color:black;
        cursor: pointer;
    }

    &.appName{
        background-color: white;
    }
}

.child-container{
    min-height : 300px;
}