<div fxLayout="column" fxLayoutGap="20px" class="api-app-details-component">
    <div class="intro-container">
        <h1>{{appData?.name}}</h1>
        <div class="status-label" [ngClass]="appData?.status"><span class="status-dot"></span> <span
                class="status-lbl">{{appData?.status}}</span></div>
    </div>

    <div class="overview-container">
        <div class="overview-container">
            <div class="field-name-container" fxLayout="row" fxLayoutGap="20px">
                <div fxLayout="column" fxFlex="50">
                    <div class="field" fxFlex><strong>Status</strong></div>
                    <div class="field-val" fxFlex>{{appData?.status}}</div>
                    <hr />

                    <div class="field" fxFlex><strong>Token Type</strong></div>
                    <div class="field-val" fxFlex>{{appData?.tokenType}}</div>
                    <hr />

                    <div class="field" fxFlex><strong>Subscriber</strong></div>
                    <div class="field-val" fxFlex>{{appData?.subscriber}}</div>
                    <hr />

                    <div class="field" fxFlex><strong>Per Token Quota</strong></div>
                    <div class="field-val" fxFlex>
                        {{appData?.throttlingTier}}
                        <br><br>
                    </div>
                </div>

                <div fxLayout="column" fxFlex="50">
                    <strong>Description</strong> {{appData?.description}}
                </div>
            </div>
            <div class="field-name-container" fxLayout="row">

            </div>

        </div>
    </div>

    <div class="detail-container" *ngIf="appData?.status == 'APPROVED'">
        <mat-tab-group animationDuration="0ms" disableRipple [selectedIndex]="activatedTabIndex"
            (selectedTabChange)="switchTab($event);">
            <mat-tab>
                <ng-template mat-tab-label>
                    <i class="fa fa-2x fa-key"></i> Production Keys
                </ng-template>
                <ng-container *ngIf="appData?.keys; else keysNotLoaded">
                    <store-generate-key-form keyEnv="PRODUCTION" [appData]="appData"></store-generate-key-form>
                </ng-container>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    <i class="fa fa-2x fa-archive"></i> Sandbox Keys
                </ng-template>
                <ng-container *ngIf="appData?.keys; else keysNotLoaded">
                    <store-generate-key-form keyEnv="SANDBOX" [appData]="appData"></store-generate-key-form>
                </ng-container>
            </mat-tab>

            <mat-tab class="subscription-tab">
                <ng-template mat-tab-label>
                    <i class="fa fa-2x fa-folder"></i> Subscriptions
                </ng-template>
                <store-application-subscriptions></store-application-subscriptions>
            </mat-tab>
        </mat-tab-group>
        <ng-template #keysNotLoaded>
            <div class="loading-card">
                <div class="bars">
                    <div class="bar bar1 loading"></div>
                    <div class="bar bar2 loading"></div>
                    <div class="bar bar3 loading"></div>
                </div>
            </div>
        </ng-template>
    </div>
    <div fxFlex="100%" fxLayoutGap="10px">
        <button mat-raised-button type="button" [routerLink]="['/applications']" color="accent">Back</button>
    </div>
</div>