<div fxLayout="column" fxLayoutGap="20px">

  <div class="intro-container">
    <h1 class="animated fadeInDown"> Create your Account</h1>
    <div class="intro-text animated fadeIn">
      <p>Don't you have a account.Register here to get access to the store application</p>
    </div>
  </div>

  <mat-card class="info-table animated fadeInDown" fxFlex="">
    <mat-card-content>
      <form fxLayout="column" fxLayoutGap="20px" fxLayoutWrap class="sub-form" #appForm="ngForm" novalidate [formGroup]="formSignupApp"
        #formDirective="ngForm" (ngSubmit)="onSubmit(formSignupApp,formDirective)">

        <div class="add-app-container" fxLayout="column">
          <mat-form-field>
            <input matInput [(ngModel)]="firstName" placeholder="First Name" formControlName="firstName">
            <mat-error *ngIf="f.firstName.errors?.required">First Name is Required</mat-error>
            <mat-error *ngIf="f.firstName.errors?.maxlength">Only 20 characters are allowed</mat-error>
            <mat-error *ngIf="f.firstName.errors?.pattern">Do not enter special characters</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput [(ngModel)]="lastName" placeholder="Last Name" formControlName="lastName">
            <mat-error *ngIf="f.lastName.errors?.required">Last Name is Required </mat-error>
            <mat-error *ngIf="f.lastName.errors?.maxlength">Only 40 characters are allowed</mat-error>
            <mat-error *ngIf="f.lastName.errors?.pattern">Do not enter special characters</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput [(ngModel)]="email" placeholder="Email" formControlName="email">
            <mat-error *ngIf="f.email.errors?.required">Email is Required </mat-error>
            <mat-error *ngIf="f.email.errors?.pattern">Invalid email format</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput formControlName="userName" [(ngModel)]="userName" placeholder="User Name">
            <mat-error *ngIf="f.userName.errors?.required">User Name is Required </mat-error>
            <mat-error *ngIf="f.userName.errors?.minlength">Minimum 5 characters Should be there</mat-error>
            <mat-error *ngIf="f.userName.errors?.pattern">User Name is invalid format </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="password" [(ngModel)]="password" placeholder="Password" formControlName="password">
            <mat-error *ngIf="f.password.errors?.required">Password is Required </mat-error>
            <mat-error *ngIf="f.password.errors?.minlength">Minimum 5 characters Should be there</mat-error>
            <mat-error *ngIf="f.password.errors?.pattern">invalid Password format.It should have atleast(Lowercase
              letters,Uppercase letters,Numbers,Special characters) </mat-error>
          </mat-form-field>

          <!-- <mat-form-field>
            <input type="password" matInput [(ngModel)]="confirmPassword" placeholder="Confirm Password"
              formControlName="confirmPassword">
            <mat-error *ngIf="f.confirmPassword.errors?.required">Password Confirmation is Required </mat-error>
          </mat-form-field> -->
          <br>
          <div fxFlex="100%" fxLayoutGap="10px">
            <button mat-raised-button type="button" (click)="onReset()" color="warn">Cancel</button>
            <button mat-raised-button type="submit" color="accent">Signup</button>
          </div>
        </div>

      </form>
    </mat-card-content>
  </mat-card>

</div>