.filter-container{
    mat-form-field{
        width: 100%;
    }
}

.search-container{
    margin-bottom: 20px;
}

.mat-header-cell{
    font-size: 14px;
    font-weight: 900;
}

mat-header-row{
    background-color: #272727;
}

mat-paginator{
    padding: 20px;
    background-color: #272727;
}

mat-row{
    &:hover{
        background-color: #333333;
        transition: all 0.2s ease-in;
        cursor: pointer;
    }
}