.filter-container{
    mat-form-field{
        width: 100%;
    }
}

.search-container{
    margin-bottom: 20px;
}

.mat-header-cell{
    font-size: 14px;
    font-weight: 900;
}

mat-header-row{
    background-color: #313131;
    margin-left: -2px;
    margin-right: -2px;
}

mat-paginator{
    padding: 20px;
}

mat-row{
    &:hover{
        background-color: #333333;
        transition: all 0.2s ease-in;
        cursor: pointer;
    }
}

.search-Container{
    .search-txt{
        padding-top: 20px;
        padding-right: 20px;
        font-weight: 900;
    }
    
    .search-input{
        margin-left: 20px;
        width: 30%;
    }

    .search{
        margin-left: 20px;
    }
}
