  <mat-card class="search-container animated fadeInDown">
    <mat-card-content>
    <div class="search-Container">
      <div fxLayout="row" fxFlex="100%">

        <form #searchForm="ngForm" novalidate (ngSubmit)="onSearchClick()" fxFlex>
          <div class="search-txt">Sear API :</div>
          <div fxFlex>
            <mat-form-field>
              <mat-select placeholder="Category" name="apiCategory" (change)="onCategoryChange()" [(ngModel)]="apiCategory">
                <mat-option *ngFor="let cat of apiStatus" [value]="cat">
                  {{ cat }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="search-input">
              <input matInput placeholder="Search..." name="searchQuery" [(ngModel)]="searchQuery">
            </mat-form-field>

            <button class="search" mat-raised-button color="accent">Search</button>

          </div>
        </form>

      </div>
    </div>
  </mat-card-content>
</mat-card>


<mat-card class="animated fadeIn delay_6" style="margin-bottom:100px;">
  <mat-card-content>

    <store-apisearch-result [dataSource]="apiSearchResult" (selectApi)="onApiSelected($event)"></store-apisearch-result>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </mat-card-content>
</mat-card>