@import '~@angular/material/theming';
@mixin api-search-theme($theme) {
  $background: map-get($theme, background);

  mat-header-row {
    // background-color: mat-color($background, app-bar);
  }

  mat-row {
    &:hover {
      background-color: mat-color($background,hover);
      transition: all .2s ease-in;
      cursor: pointer;
    }
  }

}
