<div fxLayout="column" fxLayoutGap="20px">

    <div class="intro-container animated fadeInDown">
        <h1>APIs</h1>
    </div>

    <div>
        <div class="pull-left"> <button class="search" (click)="openDialog()" mat-flat-button color="accent"><i class="fa fa-tags" aria-hidden="true"></i> Filter By Tags </button></div>
        <div class="pull-right">
            <div class="search-Container animated fadeIn">
                <form #searchForm="ngForm" novalidate (ngSubmit)="onSearchClick()" fxLayout="row" fxLayoutGap="20px">
                    <mat-form-field>
                        <mat-select placeholder="Category" name="apiCategory" (selectionChange)="onCategoryChange()" [(ngModel)]="apiCategory">
                            <mat-option *ngFor="let cat of apiStatus" [value]="cat">
                                {{ cat }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="search-input" fxFlex="80%">
                        <input matInput placeholder="Filter by..." name="searchQuery" matTooltip="You can search in attributes by using an ':' modifier. Eg: 'name:apigate'. Supported attribute modifiers are [name, version, context, description, subcontext, doc, provider, tag]"
                            [(ngModel)]="searchQuery">
                    </mat-form-field>
                    <button class="search" mat-mini-fab color="accent"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
    </div>

</div>

<mat-card class="animated fadeIn delay_6" style="margin-bottom:100px;">
    <mat-card-content>
        <div>
            <div class="pull-right switch-view-icons">
                <mat-icon [ngClass]="{'active' : view == 'list'}" title="Switch to list view" (click)="switchView('list')">
                    view_list</mat-icon>
                <mat-icon [ngClass]="{'active' : view == 'grid'}" title="Switch to grid view" (click)="switchView('grid')">
                    view_module</mat-icon>
            </div>
            <div *ngIf="apiCategory!='All'" class="api-filter-message">Filtered to <span>{{apiCategory}}</span> APIs</div>
            <div class="clearfix"></div>
        </div>
        <div class="result-wrapper" [ngClass]="{ 'table-view' : view == 'list', 'grid-view' : view == 'grid'}">

            <div class="api-info tbl-header">
                <div class="icon-wrap">&nbsp;</div>
                <div class="api-detail-wrap">
                    <div class="name-container">API Name</div>
                    <div class="info-container">
                        <!-- <span>Rating</span> -->
                        <span>Version</span>
                        <span>Provider</span>
                        <span>Status</span>
                    </div>
                </div>
            </div>

            <div class="api-info" *ngFor="let api of apiList" [routerLink]="'/apis/detail/' + api.id">
                <div class="icon-wrap">
                    <div class="api-icon">
                        <img [src]="apiPrefix + api.thumbnailUri" width="100" *ngIf="api.thumbnailUri" />
                        <img src="assets/images/apigate-a.png" width="100" *ngIf="!api.thumbnailUri" />
                    </div>
                </div>
                <div class="api-detail-wrap">
                    <div class="name-container">{{api.name}}</div>
                    <div class="info-container">
                        <!-- <star-rating starType="svg" showHalfStars="true" readOnly="true" [rating]="5"></star-rating> -->
                        <div>
                            <span><mat-icon matTooltipPosition="after" matTooltip="API Version">update</mat-icon> {{api.version}}</span>
                            <span><mat-icon matTooltipPosition="after" matTooltip="API Provider">person</mat-icon> {{api.provider}}</span>
                            <span><mat-icon matTooltipPosition="after" matTooltip="API Status">trip_origin</mat-icon> {{api.status | titlecase }}</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageChanged($event)"></mat-paginator>
    </mat-card-content>
</mat-card>