<mat-card class="search-container">
  <mat-card-content>
    <div class="search-Container">
      <div fxLayout="row" fxFlex="100%">
        
        <form #searchForm="ngForm" novalidate (ngSubmit)="onSearchClick()" fxFlex>
          <div class="search-txt">Sear API :</div>
          <div fxFlex>
            <mat-form-field>
              <mat-select placeholder="Category" name="apiCategory" (change)="onCategoryChange()" [(ngModel)]="apiCategory">
                <mat-option *ngFor="let cat of apiStatus" [value]="cat">
                  {{ cat }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="search-input">
              <input matInput placeholder="Search..." name="searchQuery" [(ngModel)]="searchQuery">
            </mat-form-field>

            <button class="search" mat-raised-button color="primary">Search</button>

          </div>
        </form>

      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>

    <div class="filter-container">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>


    <div class="example-container mat-elevation-z8">

      <mat-table [dataSource]="apiSearchResult">

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="provider">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Provider </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.provider}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="version">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Version </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.version}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="apiOwner">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Api Owner </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.apiOwner}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="rating">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Rating </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.rates}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="['name','provider','version','apiOwner','rating']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['name','provider','version','apiOwner','rating'];" (click)="onApiSelected(row)">
        </mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>