<div fxLayout="column" fxLayoutAlign="space-around start" >
    <div fxFlex="100%">Download client-side SDKs for this API.</div>
    <div fxFlex="100%" fxLayoutGap="10px">
        <a class="search" href="./assets/sdks/api_v1_java.zip" mat-flat-button color="accent">Java <i class="fa fa-download" aria-hidden="true"></i>
        </a>
        <a class="search" href="./assets/sdks/api_v1_android.zip" mat-flat-button color="accent">Andriod <i class="fa fa-download" aria-hidden="true"></i>
        </a>
    </div>
</div>