$nav-bar-height: 45px;
$left-side-nav-width: 220px;
$icon-sze: 30px;

.prof-icon {
  font-size: 2em;
  margin-right: 10px;
  margin-top: 5px;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.menu-toolbar {
  height: 130px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-container {
  display: flex;
  align-items: center;

  .img-container {
    text-align: center;
  }

}

.app-name-container {
  text-align: center;
  color: #fff;
  font-size: 1.6em;
}

mat-sidenav {
  width: $left-side-nav-width;

  &.right-nav{
    width:$left-side-nav-width + 100;
  }
}

.toolbar-main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  .logo-container {
    width: $left-side-nav-width - 16px;
    // text-align: center;
  }

  .tb-logo {
    height: 35px;
    // margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
    &:focus{
      outline: none;
    }
  }

  .app-name {
    font-size: 16px;
    position: relative;
    padding-left: 14px;

    &:before{
      content: "|";
      position: absolute;
      top: -1px;
      left: 0;
    }
  }

  .menu-icon-container {
    display: block;
    height: 100%;

    store-hamburger-menu {
      margin-left: 5px;
    }
  }
}

.content-container {
  margin-top: $nav-bar-height + 40;
  padding: 20px;
}

mat-sidenav {
  margin-top: $nav-bar-height;
  box-shadow: none;
  height: 100%;
  overflow: hidden;

  &.right-nav {
    margin-top: 0;
  }

  &.backImg {
    background-image: url('../assets/images/2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.menu-wrapper {
  // height: 100%;

  store-main-menu {
    display: block;
    margin-top: 40px;
  }
}

.theme {
  font-size: $icon-sze;
  line-height: $icon-sze;
  height: $icon-sze;
  width: $icon-sze;
}

.mat-drawer-content{
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.breadcrumb-wrap{
  &.left-open{
    padding-left: 220px;
  }

  .theme-apigate-blue &{
    background: #00AEEF;
  }

  .theme-apigate-green &{
    background: #2BB673;
  }

  .theme-one-light &{
    background: #0d47a1;
  }
  
  position: fixed;
  top: 45px;
  left: 0;
  right: 0;
  z-index: 50;
  transition: 0.25s;

  .menu-icon-container{
    float: left;
    cursor: pointer;

    .theme-apigate-blue &{
      background: #0080b0;
    }
  }

  store-breadcrumbs {
    display: block;
    top: $nav-bar-height;
    z-index: 500;
    float: left;
  }
}