@import "~@angular/material/theming";
@mixin app-component-theme($theme) {
  $background: map-get($theme, background);
  $primary: map-get($theme, primary);

  .mat-drawer-backdrop.mat-drawer-shown {
    background-color: mat-color($background, app-bar);
    opacity: 0.7;
  }

  #main-container {
    // background-color: mat-color($background, app-bar);
    background-color: #efeff0 !important;
  }

  .mat-drawer-content.mat-sidenav-content{
    background-color: #efeff0;
  }

  .toolbar-main {
    background-color: #fff;
  }

  .menu-icon-container {
    border-left: solid 1px map-get($mat-grey, 100);
  }

  mat-sidenav {
    background-color: mat-color($primary, darker) !important;
  }

  store-breadcrumbs {
    background-color:#efeff0;
  }
}
