  public selectedTheme: string;
<mat-sidenav-container fullscreen id="main-container" [ngClass]="selectedTheme">
  <mat-sidenav #sidenav mode="side" [(opened)]="leftNavOpened" class="mat-elevation-z2" color="primary" fixedTopGap="50">
    <mat-toolbar color="primary" class="menu-toolbar mat-elevation-z5">
      <div class="logo-container">
        <div class="img-container">

        </div>
        <div class="app-name-container">
          API STORE
        </div>
      </div>

    </mat-toolbar>

    <div>
      <store-main-menu></store-main-menu>
    </div>

  </mat-sidenav>

  <mat-sidenav #right position="end" [(opened)]="rightNavOpened" (closedStart)="onRightNavClose()" class="right-nav mat-elevation-z5"
    color="primary" fixedTopGap="50">
    <store-login-form (loginClick)="onLoginClick($event)"></store-login-form>
  </mat-sidenav>


  <div style="height:100%">
    <mat-toolbar class="mat-elevation-z5 toolbar-main" [class.isOpen]="leftNavOpened">
      <span class="logo-container">
        <img class="tb-logo" src="assets/images/logo.svg" />
      </span>

      <span class="menu-icon-container">
        <store-hamburger-menu isOpen="leftNavOpened" (toggle)="onHambergerMenuClick($event)"></store-hamburger-menu>
      </span>

      <span class="fill-remaining-space"></span>

      <span>
        <button mat-icon-button routerLink="/home/theme">
          <mat-icon class="theme" color="accent">palette</mat-icon>
        </button>
        <store-login-icon (menuSelect)="onMenuSelect($event)"></store-login-icon>
      </span>
    </mat-toolbar>
    <store-breadcrumbs [isOpen]="leftNavOpened"></store-breadcrumbs>
    <div class="content-container">

      <router-outlet></router-outlet>
    </div>

  </div>

</mat-sidenav-container>