$nav-bar-height: 60px;
$left-side-nav-width: 300px;
$icon-sze: 30px;

.prof-icon {
  font-size: 2em;
  margin-right: 10px;
  margin-top: 5px;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.menu-toolbar {
  height: 130px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-container {
  display: block;
  width: 100%;

  .img-container {
    text-align: center;
  }

}

.app-name-container {
  text-align: center;
  color: #fff;
  font-size: 1.6em;
}

mat-sidenav {
  width: $left-side-nav-width;

  &.right-nav{
    width:$left-side-nav-width + 100;
  }
}

.toolbar-main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  .logo-container {
    width: $left-side-nav-width - 16px;
    text-align: center;
  }

  .tb-logo {
    height: 35px;
    margin-top: 10px;
    margin-right: 20px;
    cursor: pointer;
    &:focus{
      outline: none;
    }
  }

  .app-name {
    font-size: .7em;
    margin-right: 20px;
  }

  .menu-icon-container {
    display: block;
    height: 100%;

    store-hamburger-menu {
      margin-top: 8px;
      margin-left: 5px;

    }
  }
}

.content-container {
  margin-top: $nav-bar-height + 80;
  padding: 20px;
}

store-breadcrumbs {
  display: block;
  top: $nav-bar-height;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 500;
  padding-bottom: 15px;

}

mat-sidenav {
  margin-top: $nav-bar-height + 15;
  box-shadow: none;
  height: 100%;
  overflow: hidden;

  &.right-nav {
    margin-top: 0;
  }

  &.backImg {
    background-image: url('../assets/images/2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.menu-wrapper {
  height: 100%;

  store-main-menu {
    display: block;
  }
}

.theme {
  font-size: $icon-sze;
  line-height: $icon-sze;
  height: $icon-sze;
  width: $icon-sze;
}

.mat-drawer-content{
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}