<mat-sidenav-container fullscreen id="main-container" [ngClass]="selectedTheme">

    <mat-sidenav #sidenav mode="side" [(opened)]="leftNavOpened" [ngClass]="{'backImg':menuBackImage}" color="primary"
        fixedTopGap="50">

        <div class="menu-wrapper">
            <store-main-menu></store-main-menu>
        </div>
    </mat-sidenav>

    <mat-sidenav #right position="end" [(opened)]="rightNavOpened" (closedStart)="onRightNavClose()"
        class="right-nav mat-elevation-z5" color="primary" fixedTopGap="50">
        <store-login-form *ngIf="rightNavOpened"></store-login-form>
    </mat-sidenav>

    <mat-sidenav-content id="ss">
        <mat-toolbar class="mat-elevation-z5 toolbar-main" [class.isOpen]="leftNavOpened">
            <span class="logo-container">
                <img class="tb-logo" routerLink="/home" src="assets/images/logo_white.svg" /> <span class="app-name"
                    routerLink="/home"> API Store</span>
            </span>
            <span class="fill-remaining-space"></span>

            <store-login-icon (menuSelect)="onMenuSelect($event)"></store-login-icon>
        </mat-toolbar>
        <div class="breadcrumb-wrap" [ngClass]="{'left-open':leftNavOpened}">
            <span class="menu-icon-container">
                <store-hamburger-menu isOpen="leftNavOpened" (toggle)="onHambergerMenuClick($event)">
                </store-hamburger-menu>
            </span>
            <store-breadcrumbs [isOpen]="leftNavOpened"></store-breadcrumbs>
            <div class="clearfix"></div>
        </div>

        <div class="content-container">
            <router-outlet></router-outlet>

            <footer>
                <div class="footer-links">
                    <ul>
                        <li><a target="_blank" href="https://apigate.com/en/company/who-we-are">About Us</a></li>
                        <li><a target="_blank" href="https://apigate.com/en/privacy-policy">Privacy Policy</a></li>
                        <li><a target="_blank" href="https://apigate.com/en/contact">Contact Us</a></li>
                        <li><a target="_blank" href="https://apigate.com/en/terms-and-conditions">Terms and
                                Conditions</a></li>
                        <li><a target="_blank" href="https://apigate.com/en/contact">Support</a></li>
                        <li class="separator">|</li>
                        <li><a class="social" target="_blank" href="https://www.facebook.com/TeamApigate"><i
                                    class="fa fa-facebook"></i></a></li>
                        <li><a class="social" target="_blank" href="https://twitter.com/TeamApigate"><i
                                    class="fa fa-twitter"></i></a></li>
                        <li><a class="social" target="_blank" href="mailto:info@apigate.com"><i
                                    class="fa fa-envelope-o"></i></a></li>
                    </ul>
                </div>
                Copyright &copy; 2020 AXP Labs. All rights reserved.
            </footer>
        </div>

    </mat-sidenav-content>

</mat-sidenav-container>