@import '../../../../styles/mixing';

.card-overview {
  @include animation-delay(0.2s);
  padding: 0px;
  position: relative;

  .field-name-container {
    &:first-child {
      .field {
        padding-top: 40px;
      }
      .field-val {
        padding-top: 40px;
      }
    }

    &:last-child {
      .field {
        padding-bottom: 40px;
      }
      .field-val {
        padding-bottom: 40px;
      }
    }

    .field {
      padding: 20px;
      text-align: right;
      font-size: 1.5em;
      font-weight: 100;
      text-transform: uppercase;
    }

    .field-val {
      padding: 20px;
      font-size: 1.5em;
    }
  }
}
