<mat-card class="card-overview animated fadeIn">
  <mat-card-content>
    <div class="overview-container">
      <div class="field-name-container" fxLayout="row">
        <div class="field" fxFlex>Status</div>
        <div class="field-val" fxFlex>INACTIVE</div>
      </div>
      <div class="field-name-container" fxLayout="row">
        <div class="field" fxFlex>Per Token Quota</div>
        <div class="field-val" fxFlex>
          
            Default   Allows 20 request(s) per minute.
<br><br>
            This feature allows you to assign an API request quota per access token. 
            Allocated quota will be shared among all the subscribed APIs of the application.
        </div>
      </div>
      <div class="field-name-container" fxLayout="row">
        <div class="field" fxFlex>Description</div>
        <div class="field-val" fxFlex>This feature allows you to assign an API request quota per access token</div>
      </div>

    </div>
  </mat-card-content>
</mat-card>