<div class="thumbnail-wrapper">
  <a [routerLink]="param.route">
    <mat-card class="thumbnail-card" *ngIf="!param.externalUrl">
      <mat-card-content>
        <mat-icon>{{param.icon}}</mat-icon>
        <div class="name-container">
        {{param.name}}
        </div>
        <div class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non porta urna.
        </div>
      </mat-card-content>
    </mat-card>
  </a>
  <a [href]="param.externalUrl" *ngIf="param.externalUrl">
    <mat-card class="thumbnail-card">
      <mat-card-content>
        <mat-icon>{{param.icon}}</mat-icon>
        <div class="name-container">
        {{param.name}}
        </div>
        <div class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non porta urna.
        </div>
      </mat-card-content>
    </mat-card>
  </a>
</div>