<div mat-dialog-content>
  <p>Select the Application to subscribe?</p>
  <mat-form-field>
    <mat-select [(value)]="selected">
      <mat-option *ngFor="let app of data.appList" [value]="app.value">
        {{app.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button mat-flat-button color="red" (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="selected" mat-flat-button color="accent" cdkFocusInitial>Subscribe</button>
</div>