<div class="api-info dfdfd" fxFlex fxLayout="row"  >
  <div class="icon-wrap">
    <div class="api-icon">
      <img [src]="apiPrefix + api.thumbnailUri" width="100" *ngIf="api.thumbnailUri" />
      <img src="assets/images/apigate-a.png" width="100" *ngIf="!api.thumbnailUri" />
    </div>
  </div>
  <div class="api-detail-wrap" fxLayout="column">
    <div class="name-container" fxFlex>{{api.name}}</div>
    <div class="info-container" fxFlex fxLayout="row">
      <span >{{api.version}}</span>
      <span >{{api.provider}}</span>
      <span ><star-rating [starType]="'svg'" [rating]="3" [hoverEnabled]="true"></star-rating></span>
    </div>
  </div>
</div>
