@import '~@angular/material/theming';
@mixin api-info-component-theme($theme) {
  $primary: map-get($theme, primary);

  .name-container {
    color: mat-color($primary);
    &:hover{
      color: mat-color($primary,darker);
    }
  }
}
