@import '../../../../styles/mixing';

.api-info {
  text-align: center;
  border: solid 1px #dcdcdc;
  // height: 120px;
  margin: 10px;
  cursor: pointer;
  flex-direction: column;
  transition: background 0.5s;

  &:hover{
    background: #eee;
  }
  
  .name-container {
    @include transition(all 0.2s ease-in);
    padding: 5px;
    text-align: left;
    font-weight: 500;
    font-size: 18px;
    align-items: center;
    display: flex;
    padding-top: 20px;
  }

  .info-container {
    padding: 5px;
    // border: solid 2px #ffffff;

    span {
      display: block;
      padding: 2px 0;
      font-size: 1.4em;
      margin-right: 20px;

      &:last-child{
        padding: 2px;
      }
    }
  }

  .icon-wrap{
    flex: 0;
    width: 100px;
    padding: 10px;
  }

  .api-detail-wrap{
    flex: 1;
  }
}
