@import '../../../../styles/mixing';

.api-info {
  text-align: center;
  border: solid 1px #dcdcdc;
  width: 200px;
  height: 200px;
  margin: 5px;
  box-shadow: 0 0 10px #ccc;
  cursor: pointer;
  
  .name-container {
    @include transition(all 0.2s ease-in);
    font-size: 2em;
    font-weight: 700;
    padding: 5px;
  }

  .info-container {
    padding: 5px;
    color: white;
    border: solid 2px #ffffff;

    span {
      display: block;
      padding: 2px 10px;
    }
  }
}
