<div class="my-account-container">
    <mat-card class="myacc-title animated fadeInDown">
        <mat-card-content>
            My Account
        </mat-card-content>
    </mat-card>

    <mat-card class="myacc-form animated fadeIn delay_6">
        <mat-card-content>
            <div class="sub-title">Change Password</div>
            <form class="changepw-form" fxLayout="column" fxLayoutGap="20px" [formGroup]="updatePwForm" #formDirective="ngForm" novalidate (ngSubmit)="onChangePw(updatePwForm,formDirective)">

                 <mat-form-field fxFlex="50%" fxFlex.lt-md="100%">
                    <input name="currentPassword" type="password" matInput formControlName="currentpassword"
                        placeholder="Current Password">
                    <mat-error *ngIf="updatePwForm.hasError('required', 'currentpassword')">Current Password is Required
                    </mat-error>
                </mat-form-field> 


                <mat-form-field fxFlex="50%" fxFlex.lt-md="100%">
                    <input name="newPassword" type="password" matInput formControlName="password"
                        required placeholder="New Password">
                    <mat-error *ngIf="updatePwForm.hasError('required', 'password')">
                        Please enter your newpassword
                    </mat-error>
                </mat-form-field>


                <mat-form-field fxFlex="50%" fxFlex.lt-md="100%">
                    <input name="confNewPw" type="password" matInput formControlName="confirmPassword"
                        [errorStateMatcher]="matcher" required
                        placeholder="Confirm New Password">
                    <mat-error *ngIf="updatePwForm.hasError('notSame')">
                        Passwords do not match
                    </mat-error>
                </mat-form-field>

                <div fxFlex="100%" style="padding-top: 30px" fxLayoutAlign="end">
                    <button type="submit" mat-raised-button color="accent">Change</button>
                </div>

            </form>
        </mat-card-content>
    </mat-card>
</div>