<div class="my-account-container">
  <mat-card class="myacc-title animated fadeInDown">
    <mat-card-content>
        My Account
    </mat-card-content>
</mat-card>

<mat-card class="myacc-form animated fadeIn delay_6">
  <mat-card-content>
     <div class="sub-title">Change Password</div>
     <form class="changepw-form" fxLayout="column" fxLayoutGap="20px"  #pwForm="ngForm" novalidate (ngSubmit)="onChangePw(pwForm)">
    
      <mat-form-field fxFlex="50%" fxFlex.lt-md="100%">
          <input name="currentPassword" type="password" matInput #currentPwRef="ngModel" required [(ngModel)]="param.currentPassword" placeholder="Current Password">
          <mat-error *ngIf="currentPwRef.touched && currentPwRef.errors">Current Password is Required </mat-error>
      </mat-form-field>
      
    
      <mat-form-field fxFlex="50%" fxFlex.lt-md="100%">
          <input name="newPassword" type="password" matInput #newPwRef="ngModel" required [(ngModel)]="param.newPassword" placeholder="New Password">
          <mat-error *ngIf="newPwRef.touched && newPwRef.errors">New Password is Required </mat-error>
      </mat-form-field>
      
    
      <mat-form-field fxFlex="50%" fxFlex.lt-md="100%">
          <input name="confNewPw" type="password" matInput #confNewPwRef="ngModel" required [(ngModel)]="confirmPassword" placeholder="Confirm New Password">
          <mat-error *ngIf="confNewPwRef.touched && confNewPwRef.errors">Password Confirmation is Required </mat-error>
      </mat-form-field>
      
      <div fxFlex="100%" style="padding-top: 30px" fxLayoutAlign="end">
        <button type="submit" mat-raised-button color="accent">Change</button>
      </div>
      
    </form>
  </mat-card-content>
</mat-card>
</div>