@import '~@angular/material/theming';
@mixin hamburger-menu-theme($theme) {
  $accent: map-get($theme, accent);

  .hm-menu-container {
    .hamburger-menu {
      #hmenu {
        background: #fff;

        &::before{
            background: #fff;
        }

        &::after{
            background: #fff;
        }

        &.animate {
            background: rgba(255, 255, 255, 0);
        }
      }
    }
  }
}