.forum-title-container{
    margin-bottom: 20px;
    color:white;
    font-size:2em;
}

.btn-wrapper{
    button{
        margin: 5px;
        &:last-child{
            margin-right: 0px;
        }
    }

}

.mention{
    color: red;
}

.editor-pane,
.preview-pane{
    width: 48%;
    float: left;
}

.preview-pane-inner{
    padding: 50px 20px;
}

.preview-label{
    color: #999;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 1px;
}