@import '../../../../styles/mixing';

.intro-container, .search-container {
    min-width: 300px;
}

.tbl-container{
    @include animation-delay(0.5s);

    .mat-paginator-container{
        padding-top:20px;
        padding-bottom:20px;
    }
    mat-header-cell{
        font-size: 1.2em;
        &.action-container {
            text-align:right;
            padding-right:15px;
        }
    }

    mat-cell{
        &.action-container{
            text-align:right;
        }
    }
}

.mat-icon-button {
    padding: 0;
    min-width: 0;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    line-height: 40px;
    border-radius: 50%;
}

.danger{ color: red !important;}

.mat-paginator-icon {
    width: 28px;
    fill: currentColor;
}