@import '../../../../styles/mixing';

.intro-container, .search-container {
    min-width: 300px;
}

.intro-container{
    h1{
        font-size: 28px;
        margin: 0;
        margin-bottom: 20px;
    }
    .intro-text{
        width: 50%;
        color: #666;
        font-size: 13px;
    }
}

.tbl-container{
    @include animation-delay(0.5s);

    .mat-paginator-container{
        padding-top:20px;
        padding-bottom:20px;
    }
    mat-header-cell{
        font-size: 1.2em;
        &.action-container {
            text-align:right;
            padding-right:15px;
        }
    }

    mat-cell{
        &.action-container{
            text-align:right;
        }
    }
}