<div fxLayout="column" fxLayoutGap="20px">

  <div class="intro-container">
    <h1 class="animated fadeInDown">Applications</h1>
    <div class="intro-text animated fadeIn">
      <p>Logical collection of APIs that allows you to use a single access token to invoke a collection of APIs and to subscribe to one API multiple times with different SLA levels.</p>
      <p><strong class="notice">*</strong> The "DefaultApplication" is pre-created and allows unlimited access by default.</p>
    </div>
  </div>

  <div>
    <div class="pull-right"> 
        <div class="search-Container animated fadeIn">
          <form #searchForm="ngForm" novalidate (ngSubmit)="onSearchClick()" fxLayout="row" fxLayoutGap="20px">
            <mat-form-field class="search-input" fxFlex="80%">
              <input matInput placeholder="Filter by..." name="searchQuery" [(ngModel)]="searchQuery">
            </mat-form-field>
            <button class="search" mat-mini-fab color="accent"><i class="fa fa-search" aria-hidden="true"></i></button>
          </form>
        </div>
      <!-- <button mat-mini-fab color="accent" matTooltip="Create new application" [routerLink]="['/applications/create']"><i class="fa fa-search" aria-hidden="true"></i></button> | 
      <button mat-mini-fab color="accent" matTooltip="Create new application" [routerLink]="['/applications/create']"><i class="fa fa-plus" aria-hidden="true"></i></button> -->
    </div>

    <div>
        <button mat-raised-button matTooltip="Create new application" color="accent" [routerLink]="['/applications/create']">+ &nbsp; New</button>
    </div>
  </div>

  <div class="tbl-container Xmat-elevation-z8 animated fadeIn">
    <mat-table #table [dataSource]="dataSource">

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="tier">
        <mat-header-cell *matHeaderCellDef> Tier </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.throttlingTier}} </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="wfStatus">
        <mat-header-cell *matHeaderCellDef> Workflow Status </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="subscription">
        <mat-header-cell *matHeaderCellDef> Subscriptions </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.apiCount}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell class="action-container" *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell class="action-container" *matCellDef="let element">
          <div class="button-row">
          
            <button mat-icon-button  matTooltip="View" (click)="onAppAction(element,'view')" >
              <mat-icon>visibility</mat-icon>
            </button>
            <button mat-icon-button  matTooltip="Edit" (click)="onAppAction(element,'edit')" >
              <mat-icon>create</mat-icon>
            </button>
            <button mat-icon-button  matTooltip="Delete" (click)="onAppAction(element,'delete')" >
              <mat-icon>delete</mat-icon>
            </button>

          </div>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="[ 'name','tier','wfStatus','subscription','action']"></mat-header-row>
      <mat-row *matRowDef="let row; columns: [ 'name','tier','wfStatus','subscription','action'];" (click)="onAppAction(row,'view')"></mat-row>
    </mat-table>
    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageChanged($event)"></mat-paginator>
  </div>
    
</div>