<div fxLayout="column" fxLayoutGap="20px">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
        <mat-card class="name-container animated fadeInDown" fxFlex>
            <mat-card-content>
                    <div class="name">
                        <div class="main">TOP USERS </div>
                    </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="api-usage-info-container animated fadeIn delay_5" fxFlex="70%">
            <mat-card-content>
                 <div class="title"><i class="material-icons">info_outline</i>Not Configured</div>   
                 <div class="msg"><a href="https://docs.wso2.com/display/AM200/Configuring+APIM+Analytics" target="blank">Refer our documentation to configure API Manager Analytics correctly</a>
                    </div>   
                                </mat-card-content>
        </mat-card>
    </div>
</div>