@import '~@angular/material/theming';
@mixin app-component-theme($theme) {

  $background: map-get($theme, background);

  .mat-drawer-backdrop.mat-drawer-shown {
    background-color: mat-color($background, app-bar);
    opacity: 0.7;
  }

  #main-container {
    background-color: mat-color($background, app-bar);
  }

}
