<div class="subs-tbl-container mat-elevation-z5 animated fadeIn">
  <mat-table #table [dataSource]="datasource">

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Api Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.apiName}}<br>{{element.apiVersion}} </mat-cell>
    </ng-container>
   
    <ng-container matColumnDef="provider">
      <mat-header-cell *matHeaderCellDef> Api Provider </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.apiProvider}}</mat-cell>
    </ng-container>
   
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.description}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="tier">
      <mat-header-cell *matHeaderCellDef> Subscription Tier </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.subscribedTier}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="hubAdminStatus">
      <mat-header-cell *matHeaderCellDef> Hub Admin Approval Status </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.subStatus}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="oppAprovalStatus">
      <mat-header-cell *matHeaderCellDef> Operator Approval Status </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.operators}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell class="action-container" *matHeaderCellDef > Actions </mat-header-cell>
      <mat-cell class="action-container" *matCellDef="let element" >
        <div class="button-row">

          <button mat-icon-button matTooltip="Unsubscribe" (click)="onAction(element,'unsubscribe')">
            <mat-icon >delete</mat-icon>
          </button>

        </div>
      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="[ 'name','provider','tier','hubAdminStatus','oppAprovalStatus','action']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: [ 'name','provider','tier','hubAdminStatus','oppAprovalStatus','action'];"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
</div>