<div>
  <form fxLayout="row" fxLayoutGap="20px" fxLayoutWrap class="sub-form" #subForm="ngForm" novalidate (ngSubmit)="onSubscribeClick(subForm)">
    <mat-form-field fxFlex="calc(50% - 20px)" fxFlex.lt-md="100%">
      <mat-select placeholder="Country" name="country" #country="ngModel" required [(ngModel)]="selectedCountry" (change)="onCountryChange()">
        <mat-option *ngFor="let c of countries$ | async" [value]="c">
          {{c.countryName}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="country.hasError('required')">You must make a selection</mat-error>
    </mat-form-field>

    <div fxFlex="calc(50% - 20px)" fxFlex.lt-md="100%">
      <mat-form-field style="width:100%">
        <mat-select placeholder="Operators" name="operator" #operator="ngModel" required [(ngModel)]="selectedOperator" (change)="onOperatorChange()">
          <mat-option *ngFor="let op of operators$ | async" [value]="op">
            {{op.operator + ' - '+ op.mnc}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="operator.hasError('required')"> At least one operator is required.</mat-error>
      </mat-form-field>
    </div>

    <div fxFlex="100%">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let op of selectedOperators"  color="accent" removable="true" (remove)="onOperatorRemove(op)">
          {{op.operator + '-'+ op.mnc}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>

    <mat-form-field fxFlex="calc(50% - 20px)" fxFlex.lt-md="100%">
      <mat-select placeholder="Application" name="application" #application="ngModel" required [(ngModel)]="selectedApplication">
        <mat-option *ngFor="let app of applications$ | async" [value]="app">
          {{app.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="application.hasError('required')"> Application is required.</mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="calc(50% - 20px)" fxFlex.lt-md="100%">
      <mat-select placeholder="Tier" name="tier" #tier="ngModel" required [(ngModel)]="selectedTier">
        <mat-option *ngFor="let t of tiers" [value]="t">
          {{t}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="tier.hasError('required')"> Tire is required.</mat-error>
    </mat-form-field>

    <div fxFlex="100%" style="padding-top: 30px">
      <button mat-raised-button type="submit" color="accent">subscribe</button>
    </div>
  </form>

</div>