<div class="container" style="width:100%; background-color:white;padding:20px;" >
  <form class="sub-form">
    
    <div class="form-group">
      <label for="exampleFormControlSelect1">Countries</label>
      <select class="form-control" name="countries" [(ngModel)]="selectedCountry" (change)="onCountryChange()">
        <option *ngFor="let c of countries$ | async" [ngValue]="c">{{c.country}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="exampleFormControlSelect1">Operators</label>
      <select class="form-control">
        <option *ngFor="let op of operators$ | async" [ngValue]="op">{{op.network + ' - '+ op.mnc}}</option>
      </select>
    </div>
  
    <div class="form-group">
      <label for="exampleFormControlSelect1">Applications</label>
      <select class="form-control">
        <option *ngFor="let app of applications$ | async" [ngValue]="app">{{app.name}}</option>
      </select>
    </div>
    
    <div class="form-group">
      <label for="exampleFormControlSelect1">Tiers</label>
      <select class="form-control">
        <option *ngFor="let op of operators$ | async" [ngValue]="op">{{op.network + ' - '+ op.mnc}}</option>
      </select>
    </div>


   
    <button type="button" class="btn btn-primary">subscribe</button>
  </form>
  
</div>
