<div class="container" style="width:100%; height:300px; background-color:white;padding:20px;" >
  <form class="sub-form">
    <mat-form-field >
      <input type="text" placeholder="Country" aria-label="Country" matInput [formControl]="countryControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let country of countries " [value]="country">
          {{ country.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  
</div>
