.ck-gt{
    margin: 5px 20px;
}

.title{
    padding: 10px;
    background-color: #f0eff1;
    color: #2b2828;
    margin-bottom: 10px;
}

.grant-type-section{
    margin-top:10px;
    mat-checkbox{
        display: inline-block;
    }
}

.gt-title{
    padding: 10px;
    margin-bottom: 5px;
}

mat-form-field{
    padding :10px;
}

.fullwidth-field{
    width: 90%;
}

.validity-field{
    width: 20%;
}

.mat-form-field-disabled{
    span{
        color: rgba(0, 0, 0, 0.38);
    }
}

.generate{
    width: 150px;
}

.key-grant-type {
    width: 25%;
    display: inline-block;
}

.no-key{
    display: flex;
    align-items: center;
    background: #fafafa;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;

    .mat-icon{
        margin-right: 5px;
    }
}

.gt-caption{
    font-size: 13px;
    line-height: 1.5;
    color: #333;
    max-width: 500px;
    padding-left: 10px;
    margin-bottom: 20px;
}

.key-block{
    padding: 0 10px 10px 10px;

    .icon-wrap{
        position: absolute;
        margin-top: 6px;
        display: inline-block;
    }

    .mat-icon{
        cursor: pointer;
        font-size: 17px;
        color: #666;
    }

    .key-label{
        display: inline-block;
        width: 25%;
    }
}

.code-wrap{
    position: relative;
    overflow: hidden;
    margin: 0 10px 20px;
    cursor: pointer;

    .mat-icon{
        position: absolute;
        right: 10px;
        bottom: 0px;
        cursor: pointer;
        font-size: 18px;
    }

    &:hover{
        .copy-icon{
            width: 40px;
        }
    }
}

.copy-icon{
    position: absolute;
    right: -1px;
    bottom: 0px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    padding: 5px;
    background: #ddd;
    padding-left: 25px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 0.5s;
    width: 0;

    .mat-icon{
        font-size: 16px;
        position: absolute;
        left: 6px;
        top: 6px;
    }
}

.app-key{
    font-family: monospace;
    margin: 0 10px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 3px 10px;
    border: 2px solid rgba(0,0,0,.54);
    cursor: pointer;
    display: inline-block;
    min-width: 275px;
    text-align: center;
    border-radius: 3px;
}

.access-token-block{
    border: 1px solid #999;
    background: #f6f6f6;
    padding: 10px;
    border-radius: 3px;

    h3{
        margin: 0;
        cursor: pointer;
    }

    .access-token-content {
        padding: 15px 0;
    }

    &.expanded{
        h3{
            cursor: default;
            border-bottom: 1px solid #999;
            padding-bottom: 5px;
        }
    }

    pre{
        margin-left: 50px;
        word-break: break-all;
        white-space: pre-wrap;
        background: #eee;
        padding: 10px;
        margin: 0;
        border-radius: 3px;
    }

    .code-blue{
        color: #0000e6;
    }

    .mat-stroked-button{
        margin-left: 10px;;
    }

    .mat-form-field-infix{
        max-width: 85px;
    }

    .test-access-token{
        padding: 10px;

        .block-title{
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 10px;
        }

        .caption {
            margin: 10px 0 20px;
        }
        
        .generated-access-token {
            padding: 0;

            .app-key{
                margin-left: 0;
            }
        }
    }
}