.ck-gt{
    margin: 5px 20px;
}

.title{
    padding: 10px;
    background-color: #f0eff1;
    color: #2b2828;
    margin-bottom: 10px;
}

.grant-type-section{
    margin-top:10px;
    mat-checkbox{
        display: inline-block;
    }
}

.gt-title{
    padding: 10px;
    margin-bottom: 5px;
}

mat-form-field{
    padding :10px;
}

.generate{
    width: 150px;
}

.key-grant-type {
    width: 25%;
    display: inline-block;
}