.theme-apigate-blue {
    $primary: #231F20;
    $accent: #00AEEF;
    $foreground: #FAFAFA;
    .menu-wrapper {
        .mat-nav-list .mat-list-item {
            color: #231F20;
            &.selected {
                color: $accent;
            }
        }
        .sub-menu-wrap {
            &.sub-selected {
                .mat-expansion-panel-header {
                    border-left: 2px solid $accent;
                }
                .mat-expansion-panel-header-title {
                    color: $accent;
                }
                .mat-expansion-indicator {
                    &:after {
                        color: $accent;
                    }
                }
            }
        }
        .mat-expansion-panel-header-title {
            font-size: 12px;
            font-weight: normal;
        }
    }
}

// Component Header
.intro-container {
    h1 {
        font-size: 28px;
        margin: 0;
        margin-bottom: 20px;
        font-weight: 500;
    }
    .intro-text {
        width: 50%;
        color: #666;
        font-size: 13px;
        position: relative;
    }
}

.mat-expansion-panel-header-title {
    font-size: 16px;
    font-weight: 500;
}

//API Icons
.api-info {
    .api-icon {
        width: 60px;
        height: 60px;
        border-radius: 60px;
        display: block;
        flex: 1 1 100%;
        overflow: hidden;
        border: 1px solid;
        img {
            width: 60px;
            height: 60px;
            object-fit: cover;
        }
    }
}

.table-view {
    .rating {
        width: 25%;
        float: left;
    }
}

.grid-view {
    .rating {
        justify-content: left;
        margin: 0;
        .star-container {
            margin: 0;
            .star svg {
                width: 13px;
            }
        }
    }
    .rating.medium .star {
        width: 15px;
    }
}

.overview-container {
    .rating {
        justify-content: left;
        .star-container {
            margin: 0;
        }
    }
}

.api-app-details-component {
    .detail-container {
        min-height: 300px;
        .mat-tab-body-wrapper {
            padding: 15px;
            font-size: 16px;
        }
        .mat-tab-label {
            height: 70px;
        }
        .mat-tab-label-content {
            flex-direction: column;
        }
        .mat-ink-bar {
            display: none;
        }
        .mat-tab-labels {
            background: #ececec;
            padding-left: 6px;
            border-top: 5px solid #ececec;
            .mat-tab-label-active {
                background: #fff;
                opacity: 1;
                .theme-apigate-blue & {
                    color: #00AEEF;
                }
            }
            i {
                font-weight: bold;
                margin: 5px auto;
                font-size: 22px;
            }
        }
    }
}

footer {
    margin: 40px auto 20px;
    text-align: center;
    border-top: 1px solid #aaa;
    padding-top: 20px;
    color: #aaa;
    .footer-links {
        margin-bottom: 10px;
        ul {
            margin: 0;
            padding: 0;
            li {
                list-style: none;
                margin: 0;
                padding: 0;
                display: inline-block;
                a {
                    text-decoration: none;
                    display: inline-block;
                    padding: 6px 10px;
                    color: #333;
                    border: 1px solid transparent;
                    border-radius: 2px;
                    transition: all 0.5s;
                    &:hover {
                        border-color: #333;
                    }
                    &.social {
                        border-radius: 15px;
                        width: 28px;
                        padding: 6px 0;
                        &:hover {
                            background: #333;
                            color: #fff;
                        }
                    }
                }
                &.separator {
                    margin: 0 10px;
                }
            }
        }
    }
}

.cke_textarea_inline {
    min-height: 200px;
}

.soft-bold {
    font-weight: 500;
}