@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,900');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


html,body{
    width: 100%;
    left: 0;
    top: 0;
    bottom:0;
  }
  
  body *{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
  }

  body snack-bar-container{
    border-radius: 0px !important;
    padding: 0px !important;
  }