@import '~@angular/material/theming';
@include mat-core();

//Import custom component theams
@import '~app/commons/components/hamburger-menu/hamburger-menu.component.scss.theme';
@import '~app/commons/components/breadcrumbs/breadcrumbs.component.scss.theme';
@import '~app/commons/components/main-menu/main-menu.component.scss.theme';
@import '~app/apis/components/api-search/api-search.component.scss.theme';
@import '~app/apis/components/api-info/api-info.component.scss.theme';
@import '~app/apis/components/api-detail/api-detail.component.scss.theme.scss';
@import '~app/authentication/components/login-form/login-form.component.scss.theme';
@import '~app/authentication/components/sign-up/sign-up.component.scss.theme.scss';
@import '~app/authentication/components/my-account/my-account.component.scss.theme.scss';
@import '~app/applications/components/search-applications/search-applications.component.scss.theme';
@import '~app/applications/components/create-application/create-application.component.scss.theme.scss';
@import '~app/applications/components/application-detail-main/application-detail-main.component.scss.theme.scss';
@import '~app/applications/components/application-overview/application-overview.component.scss.theme.scss';
@import '~app/applications/components/application-subscriptions/application-subscriptions.component.scss.theme.scss';
@import '~app/applications/components/application-production-keys/application-production-keys.component.scss.theme.scss';
@import '~app/statistics/components/api-usage/api-usage.component.scss.theme.scss';
@import '~app/forum/components/create-topic/create-topic.component.scss.theme.scss';
@import '~app/forum/components/view-topic/view-topic.component.scss.theme.scss';
@import '~app/home/components/thumbnail/thumbnail.component.scss.theme.scss';
@import '~app/app.component.scss.theme';
@import './material_component_teme/mat-card-theme';

@mixin custom-components-theme($theme) {
  @include mat-card-theme($theme);
  @include breadcrumbs-theme($theme);
  @include hamburger-menu-theme($theme);
  @include app-component-theme($theme);
  @include main-menu-theme($theme);
  @include api-search-theme($theme);
  @include login-form-theme($theme);
  @include api-info-component-theme($theme);
  @include api-detail-component-theme($theme);
  @include applications-search-theme($theme);
  @include create-applications-theme($theme);
  @include application-detail-theme($theme);
  @include application-overview-theme($theme);
  @include application-subscription-theme($theme);
  @include application-production-keys-theme($theme);
  @include api-usage-theme($theme);
  @include home-thumbnail-theme($theme);
  @include signup-form-theme($theme);
  @include myaccount-theme($theme);
  @include forum-topic-theme($theme);
  @include view-topic-theme($theme);
}

/* 
 * Store Theme One 
 */
$store-theme-one-primary: mat-palette($mat-blue,500,100,900);
$store-theme-one-accent: mat-palette($mat-pink);
$store-theme-one-warn: mat-palette($mat-red);

$store-theme-one-light: mat-light-theme($store-theme-one-primary, $store-theme-one-accent,$store-theme-one-warn);
//$store-theme-one-dark: mat-dark-theme($store-theme-one-primary, $store-theme-one-accent,$store-theme-one-warn);

/* 
 * Store Theme Two 
 */
$store-theme-two-primary: mat-palette($mat-blue,700,200,900);
$store-theme-two-accent: mat-palette($mat-orange,500);
$store-theme-two-warn: mat-palette($mat-red,A700);

$store-theme-two-light: mat-light-theme($store-theme-two-primary, $store-theme-two-accent,$store-theme-two-warn);
//$store-theme-two-dark: mat-dark-theme($store-theme-two-primary, $store-theme-two-accent,$store-theme-two-warn);

/* 
 * Store Theme Three 
 */
$store-theme-three-primary: mat-palette($mat-blue-grey,700,100,900);
$store-theme-three-accent: mat-palette($mat-pink,300);
$store-theme-three-warn: mat-palette($mat-red,A400);

$store-theme-three-light: mat-light-theme($store-theme-three-primary,$store-theme-three-accent,$store-theme-three-warn);

/**
* Store theme Four
*/
 $store-theme-four-primary: mat-palette($mat-teal,500,200,900);
 $store-theme-four-accent: mat-palette($mat-light-blue,'A400');
 $store-theme-four-warn: mat-palette($mat-red,A400);
 $store-theme-four-light: mat-light-theme($store-theme-four-primary,$store-theme-four-accent,$store-theme-four-warn);
 
/**
* Store Apigate Theme
*/
$md-apigate-primary: (
  50 : #e6f6ee,
  100 : #bfe9d5,
  200 : #95dbb9,
  300 : #6bcc9d,
  400 : #4bc188,
  500 : #2bb673,
  600 : #26af6b,
  700 : #1a9e56,
  800 : #1a9e56,
  900 : #108e43,
  A100 : #c0ffd7,
  A200 : #8dffb6,
  A400 : #5aff96,
  A700 : #41ff85,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$md-apigate-accent: (
  50 : #e0f5fd,
  100 : #b3e7fa,
  200 : #80d7f7,
  300 : #4dc6f4,
  400 : #26baf1,
  500 : #00aeef,
  600 : #00a7ed,
  700 : #009deb,
  800 : #0094e8,
  900 : #0084e4,
  A100 : #ffffff,
  A200 : #d8ecff,
  A400 : #a5d4ff,
  A700 : #8bc8ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$mat-apigateblack : (
  50 : #e5e4e4,
  100 : #bdbcbc,
  200 : #918f90,
  300 : #656263,
  400 : #444141,
  500 : #231f20,
  600 : #1f1b1c,
  700 : #1a1718,
  800 : #151213,
  900 : #0c0a0b,
  A100 : #ff52ff,
  A200 : #ff1fff,
  A400 : #eb00eb,
  A700 : #d200d2,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$store-theme-apigate-one-primary: mat-palette($md-apigate-primary);
$store-theme-apigate-one-accent: mat-palette($mat-apigateblack);
$store-theme-apigate-one-warn: mat-palette($mat-red,A400);
$store-theme-apigate-one-light: mat-light-theme($store-theme-apigate-one-primary,$store-theme-apigate-one-accent,$store-theme-apigate-one-warn);


.theme-one-light {
  @include angular-material-theme($store-theme-one-light);
  @include custom-components-theme($store-theme-one-light);
}

/* .theme-one-dark {
  @include angular-material-theme($store-theme-one-dark);
  @include custom-components-theme($store-theme-one-dark);
} */

.theme-two-light {
  @include angular-material-theme($store-theme-two-light);
  @include custom-components-theme($store-theme-two-light);
}
/* .theme-two-dark{
  @include angular-material-theme($store-theme-two-dark);
  @include custom-components-theme($store-theme-two-dark);
} */

.theme-three-light {
  @include angular-material-theme($store-theme-three-light);
  @include custom-components-theme($store-theme-three-light);
}

.theme-four-light {
  @include angular-material-theme($store-theme-four-light);
  @include custom-components-theme($store-theme-four-light);
}

.theme-apigate-light {
  @include angular-material-theme($store-theme-apigate-one-light);
  @include custom-components-theme($store-theme-apigate-one-light);
}