@import '~@angular/material/theming';

//Import custom component theams
@import '~app/commons/components/hamburger-menu/hamburger-menu.component.scss.theme';
@import '~app/commons/components/breadcrumbs/breadcrumbs.component.scss.theme';
@import '~app/commons/components/main-menu/main-menu.component.scss.theme';
@import '~app/apis/components/api-search/api-search.component.scss.theme';
@import '~app/authentication/components/login-form/login-form.component.scss.theme';
@import '~app/app.component.scss.theme';

@include mat-core();

@import './material_component_teme/mat-card-theme';

$store-primary: mat-palette($mat-blue,400);
$store-accent: mat-palette($mat-pink);
$store-warn: mat-palette($mat-red);


$store-theme: mat-light-theme($store-primary, $store-accent,$store-warn);
//$store-theme: mat-dark-theme($store-primary, $store-accent,$store-warn);



@mixin custom-components-theme($theme) {
   @include mat-card-theme($theme);
   @include breadcrumbs-theme($theme);
   @include hamburger-menu-theme($theme);
   @include app-component-theme($theme);
   @include main-menu-theme($theme);
   @include api-search-theme($theme);
   @include login-form-theme($theme);
}

@include angular-material-theme($store-theme);
@include custom-components-theme($store-theme);


//Alternative Theam
$store-alt-primary: mat-palette($mat-yellow);
$store-alt-accent: mat-palette($mat-grey, 200);

$store-alt-theme: mat-dark-theme($store-alt-primary, $store-alt-accent);

.alternative {
  @include angular-material-theme($store-alt-theme);
}
