<div>
  <div class="welcome-note animated fadeIn" fxLayout.gt-md="row" fxLayoutGap="20px">
    <div fxFlex>
      <div class="caption">
        <img src="assets/images/logo.svg" alt="Apigate Logo" width="120" />
        <h1>API Store</h1>
        <div class="caption-text">Create mobile applications to suit your company requirements. It is cheap, faster and could be custom built.
          Engage with your employees and customers equally – empower them to better your business.</div>
      </div>
    </div>
    <div style="height: 300px; width: 480px;" fxFlex="480px">
      <swiper class="swiper-container" [config]="config" (indexChange)="onIndexChange($event)" fxFlex="auto">
        <div *ngFor="let slide of imageUrlArray" class="swiper-slide">
          <img [src]="slide.url" />
        </div>
      </swiper>
    </div>
  </div>
</div>

<div class="result-wrapper" fxLayout="row wrap" fxLayoutWrap fxLayoutAlign="center center">

  <store-thumbnail *ngFor="let thumb of thumbnailParams;let x=index;" [param]="thumb" fxFlex class="animated fadeIn delay_{{x+1}}"></store-thumbnail>

</div>