mat-card{
    margin-bottom:20px;
}

.welcome-note{
    margin-bottom: 20px;
    background: #fff;
    align-items: center; 

    .caption{
        max-width: 500px;
        padding: 20px;

        * {
            font-size: 18px;
            line-height: 22px;
            font-weight: 500;
        }

        h1{
            font-size:28px;
            margin-top: 10px;
        }

        .caption-text{
            color: #999;
            margin-top: 40px;
        }
    }
}