<div class="welcome-note">
  <h1>Apigate API Store</h1>
  <div class="caption">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce mi turpis, malesuada sit amet nisi at, lobortis gravida lacus. Etiam facilisis dolor ut erat tincidunt aliquam. In ut lobortis erat, pulvinar vehicula libero. Suspendisse potenti. In at elementum nisi. Vestibulum a eros enim. Curabitur sit amet quam varius, maximus eros sit amet, volutpat magna. Donec facilisis massa sit amet nibh interdum, vitae luctus sapien eleifend. Nunc mi ex, ornare sit amet sapien eu, sollicitudin fermentum eros. Duis ullamcorper metus tellus, quis tempor diam semper eu. In ornare, est sed molestie semper, lectus tortor sollicitudin odio, vitae volutpat metus enim sed justo.
  </div>
</div>

<div class="result-wrapper" 
   fxLayout="row wrap" 
   fxLayoutWrap
   fxLayoutAlign="center center"
  >

 <store-thumbnail 
 *ngFor="let thumb of thumbnailParams;let x=index;"
 [param]="thumb"
  fxFlex class="animated fadeIn delay_{{x+1}}"></store-thumbnail>

</div>



