.header {
  height: 150px;
  font-size:2em;
  text-align:center;
  line-height: 140px;

  h2 {
    line-height: 150px;
    text-align: center;
    padding: 0;
    margin: 0;
  }
}

.form-container {
  padding: 20px;
  min-height: 300px;
  margin: 50px 20px;
 
  * {
    width: 100%;
  }
}

.login-error {
  color: #f00;
  margin: -10px 0 25px;
}