.header {
    text-align: center;
    padding: 50px 0;
    h2 {
        margin: 5px 0 0;
        font-size: 25px;
    }
}

.form-container {
    padding: 20px;
    min-height: 300px;
    margin: 50px 20px;
    * {
        width: 100%;
    }
}

.login-error {
    color: #f00;
    margin: -10px 0 25px;
}

.bottom-link {
    margin-top: 20px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}