<div>
  <div class="header">
    <h2>Sign In</h2>
  </div>

  <mat-card class="form-container">
    <form #loginForm="ngForm" novalidate (ngSubmit)="onLoginClick()">
      <mat-card-content>
        <mat-form-field>
          <input matInput name="username" autocomplete="off" #userNameRef="ngModel" required [(ngModel)]="username" placeholder="Username">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" autocomplete="off" placeholder="Password" name="password" #passwordRef="ngModel" required [(ngModel)]="password">
        </mat-form-field>
      </mat-card-content>

      <button mat-raised-button color="accent" style="width:100%">Login</button>
    </form>

  </mat-card>

</div>