<div fxLayout="column" fxLayoutGap="20px">

  <div class="intro-container">
    <div class="pull-right">
      <img [src]="apiPrefix + api.thumbnailUri" height="100" *ngIf="api.thumbnailUri" />
    </div>
    <h1>{{api.name}} <span class="version" aria-label="API Version">v1</span></h1>
    <div class="status-label" [ngClass]="api.status"><span class="status-dot"></span> <span class="status-lbl">{{api.status}}</span></div>
    <div class="intro-text">
      {{api.description}}
    </div>
  </div>
  <!-- <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
    <mat-card class=" breaf-info animated fadeInDown" fxFlex="">
      <mat-card-content>
        <div fxFlex>
          <h2 class="api-name mat-headline">{{api.name}}</h2>
          <h4 class="desc mat-subheading-1">{{api.description}}</h4>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="info-table animated fadeInDown" fxFlex="">
      <mat-card-content>
          <div class="info-summery" fxFlex="">
              <div>
                <span class="field-name">Version </span>
                <span class="mat-body-2">{{api.version}}</span>
              </div>
              <div>
                <span class="field-name">Provider </span>
                <span class="mat-body-2">{{api.provider}}</span>
              </div>
              <div>
                <span class="field-name">Status </span>
                <span class="mat-body-2"><mat-chip color="accent" selected>{{api.status}}</mat-chip></span>
              </div>
              <div>
                <span class="field-name">Ratings </span>
                <span class="mat-body-2">{{api.rates}}</span>
              </div>
            </div>
      </mat-card-content>
    </mat-card>

  </div> -->



 <!--  <mat-card class="content-card animated fadeIn delay_4" fxFlex>
    <mat-card-content>
      <store-api-subscription></store-api-subscription>
    </mat-card-content>
  </mat-card> -->

<div class="child-container">
      <mat-accordion class="api-detail-accordion">

        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Overview
            </mat-panel-title>
          </mat-expansion-panel-header>
          <store-api-overview [apiOverview]="apiOverview"></store-api-overview>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              API Console
            </mat-panel-title>
          </mat-expansion-panel-header>
          <store-api-console></store-api-console>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Documentation
            </mat-panel-title>
          </mat-expansion-panel-header>
          <store-api-documentation></store-api-documentation>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Forum
            </mat-panel-title>
          </mat-expansion-panel-header>
          <store-api-forum></store-api-forum>
        </mat-expansion-panel>

      </mat-accordion>
    </div>
</div>