@import '~@angular/material/theming';
@mixin api-detail-component-theme($theme) {
  $background: map-get($theme, background);
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .title-card {
    background-color: mat-color($primary, darker);
    color: mat-color($background, card);
  }

  mat-grid-tile {
    &.selected {
      background-color: mat-color($accent);
    }
    &.default{
        background-color:  map_get($mat-grey, 300)
    }
    &.appName{
        background-color: mat-color($primary,darker);
        color:  map_get($mat-grey, 200)
    }
  }
}