<div fxLayout="column" fxLayoutGap="20px">

  <div class="intro-container">
    <h1>{{api.name}} <span class="version" aria-label="API Version">v1</span></h1>
    <div class="status-label" [ngClass]="api.status"><span class="status-dot"></span> <span class="status-lbl">{{api.status}}</span></div>
    <div class="intro-text">
      {{api.description}}
    </div>
  </div>

  <div class="child-container">
    <mat-accordion class="api-detail-accordion">

      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Overview
          </mat-panel-title>
        </mat-expansion-panel-header>
        <store-api-overview [apiOverview]="api"></store-api-overview>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            API Console
          </mat-panel-title>
        </mat-expansion-panel-header>
        <store-api-console></store-api-console>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Documentation
          </mat-panel-title>
        </mat-expansion-panel-header>
        <store-api-documentation></store-api-documentation>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Forum
          </mat-panel-title>
        </mat-expansion-panel-header>
        <store-api-forum></store-api-forum>
      </mat-expansion-panel>

    </mat-accordion>
  </div>

</div>