@import '../../../../styles/_mixing.scss';

.hader-card {
  margin-bottom: 20px;
}

.content-card {
  height: 100%;

  mat-card-content {
    height: 100%;
  }
}

.api-name{
  font-weight:600;
  font-size:2.5em;
}

.info-summery {
  span {
    display: inline-block;
    margin: 2px;

    &.field-name {
      width: 120px;
      background-color: #fafafa;
      padding: 5px;
    }
  }
}

mat-expansion-panel-header {
  @include transition(all 0.2s ease-in);
}

.status-label{
  padding-bottom: 10px;

  .status-dot{
      display: inline-block;
      background: #bbb;
      height: 10px;
      width: 10px;
      line-height: 1;
      border-radius: 10px;
  }

  .status-lbl{
      text-transform: uppercase;
      letter-spacing: 0.5px;
      margin-left: 5px;
      font-size: 12px;
      font-weight: 500;
      color: #999;
  }

  &.PROTOTYPED{
      .status-dot{
          background: #bbb;
      }
  }

  &.PUBLISHED{
      .status-dot{
          background: #35b569;
      }
  }
}

.intro-container{
  h1{
      margin-bottom: 10px;
  }
}