@import '~@angular/material/theming';
@mixin breadcrumbs-theme($theme) {
  $primary: map-get($theme, primary);

  #card-con {
    background: transparent;
    color: #fff;
    padding: 10px;
    box-shadow: none;
  }
}
