@import '~@angular/material/theming';
@mixin breadcrumbs-theme($theme) {
  $primary: map-get($theme, primary);

  #card-con {
    background-color: #888; // mat-color($primary);
    color: #fff;
    padding: 10px;
  }
}
