.breadcrumb-parent {
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  position: relative;
  padding-right: 15px;

  &:hover{
    text-decoration: underline;
  }

  &:after{
    content: "\00BB";
    position: absolute;
    right: 5px;
    bottom: 2px;
    color: #ddd;
  }
}