@import '~@angular/material/theming';
@mixin main-menu-theme($theme) {
  $primary: map-get($theme, primary);

  .mat-nav-list .mat-list-item {
    outline: none;

    &.mat-list-item-focus
    {
      background:  mat-color($primary);
      color:mat-color($primary,default-contrast);
    }
  }
}
