@import '~@angular/material/theming';
@mixin main-menu-theme($theme) {
  $primary: map-get($theme, primary);

  .mat-nav-list .mat-list-item {
    outline: none;

    &.selected {
      background: mat-color($primary);
      color: mat-color($primary,default-contrast);
    }
  }
}
