<div class="overview-container">


            <div class="field-name-container" fxLayout="row" fxLayoutGap="50px" fxLayoutAlign="start start">
                <div fxLayout="column" fxFlex="50">
                    <div class="field" fxFlex><strong>Status</strong></div>
                    <div class="field-val" fxFlex>{{apiOverview.status}}</div>
                    <hr />

                    <div class="field" fxFlex><strong>Version</strong></div>
                    <div class="field-val" fxFlex>{{apiOverview.version}}</div>
                    <hr />

                    <div class="field" fxFlex><strong>Provider</strong></div>
                    <div class="field-val" fxFlex>{{apiOverview.provider}}</div>
                    <hr />


                    <div class="field" fxFlex><strong>Production and Sandbox Endpoints</strong></div>
                    <mat-form-field class="overview-full-width" floatLabel="never">
                        <input matInput placeholder="Production URLs:" #prodContextUrl value={{apiOverview.context}} readonly="readonly">
                        <span matPrefix>PROD &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;</span>
                        <button mat-icon-button matSuffix (click)="copyToClipboard(prodContextUrl)" [attr.aria-label]="'Hide password'">
                            <mat-icon>file_copy</mat-icon>
                        </button>
                    </mat-form-field>
                    
                    <mat-form-field class="overview-full-width" floatLabel="never">
                        <input matInput placeholder="Sandbox URLs:" #sandboxContextUrl value={{apiOverview.context}} readonly="readonly">
                        <span matPrefix>SANDBOX : &nbsp;</span>
                        <button mat-icon-button matSuffix (click)="copyToClipboard(sandboxContextUrl)" [attr.aria-label]="'Hide password'">
                            <mat-icon>file_copy</mat-icon>
                        </button>
                    </mat-form-field>

                </div>

                <div fxLayout="column" fxFlex="50">
                    <div class="field" fxFlex><strong>Description</strong></div>
                    <div>{{apiOverview.description}} <span *ngIf="!apiOverview.description">N/A</span></div>
                    <br/>
                    <div><star-rating [starType]="'svg'" [rating]="apiOverview.rates" [hoverEnabled]="true"></star-rating></div>
                </div>
            </div>
            <div class="field-name-container" fxLayout="row">
                
            </div>




    
</div>