<div class="overview-container">
    <h2>Production and Sandbox Endpoints</h2>
    <br>
    <mat-form-field class="overview-full-width">
        <input matInput placeholder="Production URLs:" #prodContextUrl value={{apiOverview.context}}>
        <button mat-icon-button matSuffix (click)="copyToClipboard(prodContextUrl)" [attr.aria-label]="'Hide password'">
            <mat-icon>file_copy</mat-icon>
        </button>
    </mat-form-field>
    <br>
    <mat-form-field class="overview-full-width">
        <input matInput placeholder="Sandbox URLs:" #sandboxContextUrl value={{apiOverview.context}}>
        <button mat-icon-button matSuffix (click)="copyToClipboard(sandboxContextUrl)" [attr.aria-label]="'Hide password'">
            <mat-icon>file_copy</mat-icon>
        </button>
    </mat-form-field>

    <h2>Description</h2>
    <p> {{apiOverview.description}}</p>

</div>