.myacc-title{
    margin-bottom: 20px;
    color:white;

    mat-card-content{
        font-size: 2em;
    }
}

.sub-title{
    font-size:1.5em;
    margin-bottom: 20px;
}


.changepw-form{
    mat-form-field{
        margin-bottom: 15px;
    }
}

.myacc-form{
    max-width: 500px;
}

.mat-form-field-subscript-wrapper{
    position: relative;
}