@import "~@angular/material/theming";
@mixin myaccount-theme($theme) {
  $primary: map-get($theme, primary);
  $back: map-get($theme, background);

  .my-account-container {
    .myacc-title {
      background-color: mat-color($primary, darker);
    }
  }
}
