.view-topic-container{
    color:white;
  
    .subject{
        font-size: 1.8em;
    }
   .description{
       padding-top: 10px;
       font-size:1.1em;
   }
}

.rep-title{
    font-size: 2em;
    margin: 20px 0px;
    color: #89898a;
}

.reply-container{
    margin-bottom: 20px;
    .rep-by{
        text-align: right;
        margin: 10px 0px;
    }
}

#forum-post{
    h1{
        font-weight: 500;
        font-size: 22px;
    }

    .description{
        font-size: 14px;
        margin: 15px 0;
        line-height: 1.5;
    }

    .post-author{
        color: #666;

        strong{
            font-weight: 500;
        }
    }

    .replies{
        background: #fafafa;
        padding: 15px;
        border-radius: 5px;
        overflow: hidden;
        border: 1px solid #eee;
        width: 75%;

        h2{
            font-size: 18px;
            font-weight: 500;
            // background: #eee;
            margin: -16px;
            padding: 15px;
            margin-bottom: 0px;
        }
    }

    .reply-item {
        padding: 15px 0;
        border-top: 1px solid #ddd;
        font-size: 14px;

        &:first-child{
            border-top: none;
        }
    }

    .rep-by {
        font-weight: 500;
        font-size: 12px;
        color: #999;
        margin-bottom: 5px;
    }
}