

<div fxLayout="row" fxLayoutGap="20px" id="forum-post">

  <mat-card fxFlex class="animated fadeIn delay_6" style="margin-bottom:100px;">
    <h1>{{topic?.subject}}</h1>
    <div class="description" [innerHTML]="topic.description"></div>
    <div class="post-author">by <strong>admin</strong> <br/>Tue Mar 13 2018 | 10:45 AM</div>

    <br/>

    <div class="replies">
      <h2>{{replies?.length}} Responses</h2>
      <div>
        <div *ngFor="let rep of replies;let x=index;" class="reply-item">
          <div class="rep-by">
            <span class="avatar" [innerHtml]="getFirstLetter(rep.createdBy)"></span>
            <div>
              <strong>{{rep.createdBy}}</strong> <br/>
              {{rep.time | date : 'on EEEE, MMM d yyyy, hh:mm a' }}
            </div>
          </div>
          <div class="reply-content">
            {{rep?.reply}}
          </div>
        </div>
      </div>

      <div class="post-reply">
        <div>
          <textarea rows="5" cols="50"></textarea>
        </div>
        <button mat-flat-button color="accent">Comment</button>
      </div>

    </div>
  </mat-card>

  <div fxFlex.gt-sm="30">
    <!-- <h2>Recent Forum Discussions</h2> -->
  </div>
</div>