.view-topic-container{
    color:white;
  
    .subject{
        font-size: 1.8em;
    }
   .description{
       padding-top: 10px;
       font-size:1.1em;
   }
}

.rep-title{
    font-size: 2em;
    margin: 20px 0px;
    color: #89898a;
}

.reply-container{
    margin-bottom: 20px;
    .rep-by{
        text-align: right;
        margin: 10px 0px;
    }
}

#forum-post{
    h1{
        font-weight: 500;
        font-size: 22px;
    }

    .description{
        font-size: 14px;
        margin: 15px 0;
        line-height: 1.5;
    }

    .post-author{
        color: #666;

        strong{
            font-weight: 500;
        }
    }

    .replies{
        padding: 15px 0;
        overflow: hidden;
        width: 75%;

        h2{
            font-size: 18px;
            font-weight: 500;
            margin: -16px;
            padding: 15px;
            margin-bottom: 0px;
        }
    }

    .reply-item {
        padding: 15px 0;
        font-size: 14px;
    }

    .rep-by {
        font-weight: 500;
        font-size: 12px;
        color: #999;
        margin-bottom: 5px;
        display: flex;
        
    }
}

.post-reply{
    padding: 20px 0 0 10px;

    textarea{
        border: 1px solid;
        border-radius: 3px;
        margin-bottom: 10px;
    }
}

.avatar{
    display: flex;
    padding: 5px;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #fff;
    font-size: 17px;
    border-radius: 20px;
    line-height: 1;
    margin-right: 5px;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-transform: uppercase
}

.reply-content{
    position: relative;
    background: #f0f0f0;
    padding: 10px;
    margin-left: 5px;
    border-radius: 5px;
    border-top-left-radius: 0;
    margin-top: 10px;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 10px;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-bottom-color: #f0f0f0;
        border-top: 0;
        border-left: 0;
        margin-left: -10px;
        margin-top: -10px;
    }
}