

<div fxLayout="row" fxLayoutGap="20px" id="forum-post">

  <!-- <div class="intro-container">
    <h1 class="animated fadeInDown">Discussion #120</h1>
    <div class="intro-text">
      Posted By admin on Tue Mar 13 2018, 10:45am
    </div>
  </div> -->

  <mat-card fxFlex class="animated fadeIn delay_6" style="margin-bottom:100px;">
    <h1>{{topic.subject}}</h1>
    <div class="description" [innerHTML]="topic.description"></div>
    <div class="post-author">by <strong>admin</strong> <br/>Tue Mar 13 2018 | 10:45 AM</div>

    <br/>

    <div class="replies">
      <h2>{{replies.length}} Responses</h2>

      <div>
        <div *ngFor="let rep of replies;let x=index;" class="reply-item">
          <div class="rep-by"><strong>admin</strong> on Tue Mar 13 2018, 10:45:30</div>
          {{rep.reply}}
        </div>
      </div>

    </div>

    <div class="post-reply">
      <mat-form-field>
        <mat-label>Comment</mat-label>
          <textarea rows="10" cols="250" matInput></textarea>
      </mat-form-field>
    </div>
  </mat-card>

  <div fxFlex.gt-sm="30">
    <h2>Recent Forum Discussions</h2>
  </div>
</div>

<!-- <mat-card class="view-topic-container animated fadeInDown" >
  <mat-card-content>
        <div class="subject">{{topic.subject}}</div>
        <div class="description" [innerHTML]="topic.description"></div>
  </mat-card-content>
</mat-card> -->
<!-- <div class="rep-title">Replies</div>

<div class="reply-container animated fadeIn delay_{{x+2}}}" *ngFor="let rep of replies;let x=index;">
  <mat-card >
    <mat-card-content>
          <div class="subject">{{rep.reply}}</div>
    </mat-card-content>
  </mat-card>
  <div class="rep-by">Posted By admin on Tue Mar 13 2018, 10:45:30</div>
</div> -->