@import '~@angular/material/theming';
@mixin main-menu-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, background);

  .mat-nav-list .mat-list-item {
    outline: none;
    background-color:rgba(255, 255, 255, 0.7);

    &:hover{
      background-color: #efeff0;
    }

    &.selected {
      background: mat-color($accent);
      color: mat-color($foreground, card);
      font-weight:900;
    }
  }

  mat-expansion-panel {
    background-color: rgba(255, 255, 255, 0.7) !important;

    mat-expansion-panel-header{
        background-color: transparent !important;
    }

    .mat-nav-list .mat-list-item {
      &:hover{
        background-color:white;
      }
    }
  }
}
