@import '../../../../styles/mixing';

mat-list-item{
    mat-icon{
        margin-right: 15px;
    }
    @include transition(all 0.2s ease-in);
}

mat-expansion-panel-header{
    padding-left: 15px;

    mat-icon{
        margin-right: 15px;
    }

    mat-panel-title{
        line-height: 25px;
    }
}

mat-nav-list{
    padding-top: 0px;
}
