<mat-nav-list>

  <ng-container *ngFor="let menu of mainMenu">
    <mat-list-item [routerLink]="menu.route" *ngIf="!menu.subMenu else innerMenu" routerLinkActive="selected">
      <mat-icon>{{menu.icon}}</mat-icon>
      <span>{{menu.name}}</span>
    </mat-list-item>
    <ng-template #innerMenu>

      <mat-accordion>

        <mat-expansion-panel expanded="false" class="sub-menu-wrap" routerLinkActive="sub-selected">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>{{menu.icon}}</mat-icon>
              {{menu.name}}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-nav-list>
            <mat-list-item [routerLink]="sub.route" *ngFor="let sub of menu.subMenu" routerLinkActive="selected">
              <mat-icon>{{sub.icon}}</mat-icon>
              <span>{{sub.name}}</span>
            </mat-list-item>
          </mat-nav-list>

        </mat-expansion-panel>

      </mat-accordion>

    </ng-template>

  </ng-container>

</mat-nav-list>