@import '~@angular/material/theming';
@mixin main-menu-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, background);

  .menu-wrapper{
    .mat-list-item {
      background-color:transparent;

      &.selected {
        background: none;
        font-weight:900;
        color: mat-color($primary);
        border-left: 3px solid;
      }

      .mat-expansion-panel-body{
        border-color: mat-color($accent);
      }
    }

    .sub-menu-wrap{
        .mat-list-item {
            height: 35px;

            &:hover{
                background-color:rgba(255, 255, 255, 0.7);
            }
            
            &.selected {
                margin-left: -3px;

                &:hover{
                    background: none;
                }
            }

            .mat-icon{
                font-size: 15px;
                height: 15px;
                width: 15px;
            }
        }

        .mat-list-item-content{
            padding: 0 12px;
        }

        &.sub-selected{
          .mat-expansion-panel-header{
              border-left: 2px solid mat-color($primary);;
          }
          .mat-expansion-panel-header-title{
              color: mat-color($primary);
          }

          .mat-expansion-indicator{
              &:after{
                  color: mat-color($primary);
              }
          }
      }
    }

    .mat-expansion-panel-body{
        padding: 0;
        background: rgba(255, 255, 255, 0.2);
        margin-left: 8px;
    }

    .mat-expansion-panel{
        background: transparent;
        box-shadow: none;

        .mat-expansion-panel-content{
            background: #ddd;
        }
    }

    .mat-accordion{
        .mat-expansion-panel{
            border-radius: 0;
        }
    }

    .mat-expansion-panel-header-title{
        font-size: 12px;
        font-weight: normal;
    }
  }
}