<mat-card class="animated fadeIn">
  <mat-card-content>
    <div>
      <mat-radio-group (change)="onChange($event)" [(ngModel)]="selectedTheme">

        <div class="button-row" *ngFor="let t of allThemes">
          <label>{{t.name}} :</label>
          <button mat-fab [style.backgroundColor]="t.primary">Primary</button>
          <button mat-fab [style.backgroundColor]="t.accent">Accent</button>
          <button mat-fab [style.backgroundColor]="t.warn">Warn</button>
          <mat-radio-button [value]="t.className">Apply</mat-radio-button>
        </div>

      </mat-radio-group>
      <!-- <hr><br>
      <div class="button-row">
        <label> Background Animation :</label>
        <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="bgAnimation">
          <mat-button-toggle value="default" (change)="onValChange($event.value)" aria-label="Particles">
            <mat-icon>blur_on</mat-icon> Particles
          </mat-button-toggle>
          <mat-button-toggle value="snow" (change)="onValChange($event.value)" aria-label="Snow">
            <mat-icon>ac_unit</mat-icon> Snow
          </mat-button-toggle>
          <mat-button-toggle value="none" (change)="onValChange($event.value)" aria-label="None">
            <mat-icon>personal_video</mat-icon> None
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div> -->
    </div>
  </mat-card-content>
</mat-card>