.button-row{
    margin-bottom: 20px;
    button,label{
        margin-right: 10px;
    }

    label{
        display: inline-block;
        width: 160px;
    }
}

mat-slide-toggle{
    margin-bottom:20px;
}