<div fxLayout="column" fxLayoutGap="20px">

  <div class="intro-container">
    <h1 class="animated fadeInDown"> Create your Account</h1>
    <div class="intro-text animated fadeIn">
      <p>Don't you have an account? Register here to get access to the store application</p>
    </div>
  </div>

  <mat-card class="info-table animated fadeInDown" fxFlex="">
    <mat-card-content>
      <form fxLayout="column" fxLayoutGap="20px" fxLayoutWrap class="sub-form" [formGroup]="formSignupApp"
        #formDirective="ngForm" (ngSubmit)="onSubmit(formSignupApp,formDirective)">

        <div class="add-app-container" fxLayout="column">
          <mat-form-field>
            <input matInput placeholder="First Name" formControlName="firstName">
            <mat-error *ngIf="formSignupApp.hasError('required', 'firstName')">First Name is Required</mat-error>
            <mat-error *ngIf="formSignupApp.hasError('maxlength', 'firstName')">Only 20 characters are allowed
            </mat-error>
            <mat-error *ngIf="formSignupApp.hasError('pattern', 'firstName')">Do not enter special characters
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Last Name" formControlName="lastName">
            <mat-error *ngIf="formSignupApp.hasError('required', 'lastName')">Last Name is Required </mat-error>
            <mat-error *ngIf="formSignupApp.hasError('maxlength', 'lastName')">Only 40 characters are allowed
            </mat-error>
            <mat-error *ngIf="formSignupApp.hasError('pattern', 'lastName')">Do not enter special characters</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="formSignupApp.hasError('required', 'email')">Email is Required </mat-error>
            <mat-error *ngIf="formSignupApp.hasError('pattern', 'email')">Invalid email format</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput formControlName="userName" placeholder="User Name">
            <mat-error *ngIf="formSignupApp.hasError('required', 'userName')">User Name is Required </mat-error>
            <mat-error *ngIf="formSignupApp.hasError('minlength', 'userName')">Minimum 5 characters Should be there
            </mat-error>
            <mat-error *ngIf="formSignupApp.hasError('pattern', 'userName')">The User Name contains one or more illigale
              characters(!"#$%&'()*+,-./:;&lt;=>?@[]^_`&#123;|&#125;~) </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="password" placeholder="Password" formControlName="password">
            <mat-error *ngIf="formSignupApp.hasError('required', 'password')">Password is Required </mat-error>
            <mat-error *ngIf="formSignupApp.hasError('minlength', 'password')">Minimum 5 characters Should be there
            </mat-error>
            <mat-error *ngIf="formSignupApp.hasError('pattern', 'password')">invalid Password format.It should have
              atleast(Lowercase
              letters,Uppercase letters,Numbers,Special characters) </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword"
              [errorStateMatcher]="matcher">
            <mat-error *ngIf="formSignupApp.hasError('notSame')">Passwords do not match </mat-error>
          </mat-form-field>
          <br>
          <div fxFlex="100%" fxLayoutGap="10px">
            <button mat-raised-button type="submit" color="accent">Signup</button>
            <button mat-raised-button type="button" [routerLink]="['/']" color="warn">Cancel</button>

          </div>
        </div>

      </form>
    </mat-card-content>
  </mat-card>

</div>