.title-card{
    padding: 10px 20px;
    h2{
        margin-bottom: 0px;
    }
}

.add-app-container{
    max-width: 500px;

    mat-form-field{
        padding: 10px 0;
        // max-width: 400px;

        &.narrow{
            max-width: 300px;
        }
    }

    
}

.login-error {
    color: #f00;
    margin: 32px 0 25px;
    font-weight: bold;
    font-size: 1.2em;
}
