@import '~@angular/material/theming';
@mixin signup-form-theme($theme) {
  $background: map-get($theme, background);
  $primary: map-get($theme, primary);
  
  .title-card{
    background-color: mat-color($primary, darker);
    color:mat-color($background,card);
  }

}
